
name: Pipeline for selenium Tests
on:
  push:
    branches:  
      - main
      - master
  pull_request:
    branches: 
      - main
      - master
jobs:
  selenium-test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: "21"
          cache: maven
          distribution: "temurin"
      - uses: browser-actions/setup-chrome@latest
      - name: Run selenium tests
        run: mvn clean test
      - name: Install Allure CLI
        run: |
          sudo apt-add-repository ppa:qameta/allure -y
          sudo apt update
          sudo apt install allure -y

      - name: Generate Allure Report
        run: |
          mkdir -p Test-Output/Reports/Allure
          allure generate target/allure-results --clean -o Test-Output/Reports/Allure/allure-report

      - name: Upload Allure results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: target/allure-results
          retention-days: 30
      - name: Upload Allure report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: Test-Output/Reports/Allure/allure-report
          retention-days: 30

