
name: Pipeline for selenium Tests
on:
  push:
    branches:  
      - main
      - master
  pull_request:
    branches: 
      - main
      - master
jobs:
  selenium-test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: "21"
          cache: maven
          distribution: "temurin"
      - uses: browser-actions/setup-chrome@latest
      - name: Run selenium tests
        run: mvn clean test
      - name: Generate Allure Report
        uses: simple-elf/allure-report-action@v1
        if: always()
        with:
          allure_results: allure-results

      - name: Upload Allure Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: allure-report
          path: allure-report

