
name: Pipeline for selenium Tests
on:
  push:
    branches:  
      - main
      - master
  pull_request:
    branches: 
      - main
      - master
jobs:
  selenium-test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: "21"
          cache: maven
          distribution: "temurin"
      - uses: browser-actions/setup-chrome@latest
      - name: Run selenium tests
        run: mvn clean test
      - name: Upload test reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: |
            target/surefire-reports/
            Test-Output/Reports/
            Test-Output/Logs/
          retention-days: 30

      - name: Upload Allure report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: Test-Output/Reports/Allure/allure-report/
          retention-days: 30

